/*Rem para textos, para lo demas px, % y vh,vw*/
/*Esto es para reinicir todo tipo de estilo
Para fuentes siempre rem.*/
/*Aqui se reiniia el estilode la pagina quitando margin y padding, se da la fuente a usar.*/
/*Importacion de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap');

/*Variables*/
:root {
    --rosy-brown: #BB978A;
    --smoky-black: #140F0D;
    --powder-blue: #A8BFE2;
    --periwinkle: #C2C0DA;
    --light-periwinkle: #E2E2E2;
    --anti-flash-white: #EDF2F4;
    --onyx: #313638;
    --yellow-taco-off: #aaa200;
    --yellow-taco-on: #eee200;

}
*{
    overflow-x: hidden;
}
body {
    background-color: #F1F1F1;
    font-family: 'League Spartan', sans-serif;
}
.custom-navbar{
    background-color: var(--onyx) !important;
    img{
        width: 45px;
        height: 45px;
        margin: 5px;
    }
    img:hover{
        transition: all 0.5s;
        box-shadow: 0 0 5px 1px var(--anti-flash-white);
    }
    .custom-toggler{
        border: 1px solid var(--anti-flash-white);
    }
    .custom-toggler:focus{
        text-decoration: none;
        outline: none;
        box-shadow: 0 0 5px 1px var(--anti-flash-white);
    }
    .custom-icon{
        background-image: url(../assets/img/bars-solid.svg);
    }
    .nav-link{
        color: var(--anti-flash-white);
    }
    .nav-link:hover{
        color: var(--light-periwinkle);
        text-shadow:  2px 2px 8px var(--anti-flash-white);
    }
}
.custom-video{
    filter: brightness(40%);
    background-size: cover;
    width: 100%;
}
.custom-video-content{
    color: var(--anti-flash-white);
}
.bg-anti-white{
    background-color: var(--anti-flash-white);
}
.bg-white{
    background-color: white;
}
.custom-hr-video{
    margin: 1;
    color: var(--anti-flash-white);
    opacity: 1;
    border: none;
    height: 4px;
    background-color: var(--anti-flash-white);
}
@media (max-width: 600px) {
    .descripcion-index{
        margin: 20px !important;
        padding: 20px !important;
        text-align: justify !important;
    }
}
.container-categorias{
    width: 90%;
    #box-1,
    #box-2,
    #box-3 {
        background-size: cover;
        height: 400px;
        flex: 1;
        transition: 1s;
        div {
            opacity: 0;
            transition: all 0.5s;
            background-color: white;
            box-shadow: 0 0 5px 1px var(--onyx) inset;
            h3,
            a {
                opacity: 0;
                transition: all 0.5s;
            }
            h3 {
                color: black;
            }
            a {
                text-decoration: none;
                background-color: var(--onyx);
                color: var(--anti-flash-white);
                padding: 5px;
                border-style: normal;
                box-shadow: 0 0 5px 1px var(--onyx);
            }
            a:hover {
                border-style: groove;
                scale: 0.9;
            }
        }
    }
    #box-1 {
        background-image: url(https://i.imgur.com/Hkv8ZCH.jpg);
    }
    #box-2 {
        background-image: url(https://i.imgur.com/MfXUb9j.jpg);
    }
    #box-3 {
        background-image: url(https://i.imgur.com/2jT6EaV.jpg);
    }
    #box-1:hover,
    #box-2:hover,
    #box-3:hover {
        flex: 4;
        box-shadow: 0 0 3px 2px var(--onyx);
    }
    #box-1:hover div,
    #box-2:hover div,
    #box-3:hover div {
        opacity: 1;
    }
    #box-1:hover h3,
    #box-2:hover h3,
    #box-3:hover h3 {
        opacity: 1;
    }
    #box-1:hover a,
    #box-2:hover a,
    #box-3:hover a {
        opacity: 1;
    }
}
@media (max-width: 850px){
    .container-categorias{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 800px;
    }
}
footer{
    background-color: var(--onyx);
    .footer-nav{
        padding-top: 30px;
        padding-bottom: 15px;
        a{
            color: var(--anti-flash-white);
            text-decoration: none;
        }
        a:hover{
            transition: all 0.5s;
            border-bottom: 3px solid var(--anti-flash-white);
        }
        .linea-recta{
            background-color: var(--anti-flash-white);
        }
    }
    .footer-rs{
        padding-top: 15px;
        padding-bottom: 30px;
        a {
            margin: 0 15px;
            text-decoration: none;
            color: var(--anti-flash-white);
        }
        a:hover{
            transition: all 0.5s;
            transform: scale(1.3) rotate(360deg);
        }
    }
    .footer-cr{
        background-color: white;
        padding: 10px;
    }
}
@media (max-width: 550px){
    .linea-recta{
        display: none;
    }
    .footer-nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}
.seccion-info-categoria {
    margin-top: 70px;
    padding: 2vh;
    .item-1{ grid-area: img1; }
    .item-2{ grid-area: img2; }
    .item-3{ grid-area: text1; }
    .item-4{ grid-area: img3; }
    .cuadricula-contenedor {
        display: grid;
        grid-template-areas: 
        'text1 text1 img3 img1'
        'text1 text1 img3 img1'
        'img2 img2 img3 img1'
        'img2 img2 img3 img1';
        grid-auto-rows: 1fr;
        column-gap: 10px;
        height: 86vh;
        .imagen {
            padding: 2vh;
            img {
                box-shadow: 0 0 5px 1px var(--onyx);
            }
        }
        .texto {
            padding: 2vh;
            gap: 10px;
            p {
                text-align: justify;
                line-height: 2;
            }
        }
    }
}
@media (max-width: 900px){
    .seccion-info-categoria{
        .texto{
            gap: 0;
            h1, p{
                overflow-y: hidden;
            }
        }
    }
}
@media (max-width: 850px){
    .seccion-info-categoria{
        .item-1, .item-2{
            display: none;
        }
        .cuadricula-contenedor{
            grid-template-areas: 
            'text1'
            'img3';
            .imagen {
                padding: 20px;
            }
        }
    }
}
.divisor-categorias{
    height: 5px;
    width: 95%;
    background-color: var(--onyx);
    opacity: 0.2;
    margin-bottom: 20px;
}
.container-galeria {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
    padding-top: 2vh;
    gap: 4vw;
    .item {
        background-color: hsl(0, 0%, 94%);
        width: 300px;
        .imagen-carta{
            height: 200px;
            width: 300px;
        }
        .card-text{
            margin: 15px 15px 20px;
            gap: 15px;
            .descripcion-carta{
                text-align: justify;
            }
            .precio-carta{
                font-weight: bolder;
                color: var(--yellow-taco-off);
            }
        }
    }
    .item:hover {
        transition: all 0.3s;
        box-shadow: 0 10px 15px 0.5px rgb(139, 139, 139);
        scale: 0.9;
    }
}
.pagina-contacto{
    margin-top: 60px;
    iframe{
        height: 350px;
    }
    .boton-contacto{
        background-color: var(--periwinkle);
        width: 100%;
    }
    .boton-contacto:hover{
        transition: all 0s;
        scale: 0.9;
        color: var(--anti-flash-white);
    }
    textarea{
        height: 10rem;
    } 
    .boton-modal{
        color: var(--onyx);
        background-color: var(--periwinkle);
    }
    .boton-modal:hover{
        transition: all 0s;
        scale: 0.9;
        color: var(--anti-flash-white);
    }
    .tacha-cerrar{
        border: none;
        border-radius: 50%;
    }
    
}
.bg-image-contacto{
    background-image: url('https://i.imgur.com/LLDEbLl.jpg');
    background-position: center;
    background-size: cover;
}
.disclaimer{
    width: 95%;
    color: var(--yellow-taco-off);
    letter-spacing: 1px;
    font-size: 12px;
}