/*Rem para textos, para lo demas px, % y vh,vw*/
/*Esto es para reinicir todo tipo de estilo
Para fuentes siempre rem.*/
/*Aqui se reiniia el estilode la pagina quitando margin y padding, se da la fuente a usar.*/
/*Importacion de fuentes*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap");
* {
  overflow-x: hidden;
}

body {
  background-color: #F1F1F1;
  font-family: "League Spartan", sans-serif;
}

.custom-navbar {
  background-color: #313638 !important;
}
.custom-navbar img {
  width: 45px;
  height: 45px;
  margin: 5px;
}
.custom-navbar img:hover {
  transition: all 0.5s;
  box-shadow: 0 0 5px 1px #EDF2F4;
}
.custom-navbar .custom-toggler {
  border: 1px solid #EDF2F4;
}
.custom-navbar .custom-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 5px 1px #EDF2F4;
}
.custom-navbar .custom-icon {
  background-image: url(../assets/img/bars-solid.svg);
}
.custom-navbar .nav-link {
  color: #EDF2F4;
}
.custom-navbar .nav-link:hover {
  color: #E2E2E2;
  text-shadow: 2px 2px 8px #EDF2F4;
}

.custom-video {
  filter: brightness(40%);
  background-size: cover;
  width: 100%;
}

.custom-video-content {
  color: #EDF2F4;
}

.bg-anti-white {
  background-color: #EDF2F4;
}

.bg-white {
  background-color: white;
}

.custom-hr-video {
  margin: 1;
  color: #EDF2F4;
  opacity: 1;
  border: none;
  height: 4px;
  background-color: #EDF2F4;
}

@media (max-width: 600px) {
  .descripcion-index {
    margin: 20px !important;
    padding: 20px !important;
    text-align: justify !important;
  }
}
.container-categorias {
  width: 90%;
}
.container-categorias #box-1,
.container-categorias #box-2,
.container-categorias #box-3 {
  background-size: cover;
  height: 400px;
  flex: 1;
  transition: 1s;
}
.container-categorias #box-1 div,
.container-categorias #box-2 div,
.container-categorias #box-3 div {
  opacity: 0;
  transition: all 0.5s;
  background-color: white;
  box-shadow: 0 0 5px 1px #313638 inset;
}
.container-categorias #box-1 div h3,
.container-categorias #box-1 div a,
.container-categorias #box-2 div h3,
.container-categorias #box-2 div a,
.container-categorias #box-3 div h3,
.container-categorias #box-3 div a {
  opacity: 0;
  transition: all 0.5s;
}
.container-categorias #box-1 div h3,
.container-categorias #box-2 div h3,
.container-categorias #box-3 div h3 {
  color: black;
}
.container-categorias #box-1 div a,
.container-categorias #box-2 div a,
.container-categorias #box-3 div a {
  text-decoration: none;
  background-color: #313638;
  color: #EDF2F4;
  padding: 5px;
  border-style: normal;
  box-shadow: 0 0 5px 1px #313638;
}
.container-categorias #box-1 div a:hover,
.container-categorias #box-2 div a:hover,
.container-categorias #box-3 div a:hover {
  border-style: groove;
  scale: 0.9;
}
.container-categorias #box-1 {
  background-image: url(https://i.imgur.com/Hkv8ZCH.jpg);
}
.container-categorias #box-1:hover {
  flex: 4;
  box-shadow: 0 0 3px 2px #313638;
}
.container-categorias #box-1:hover div {
  opacity: 1;
}
.container-categorias #box-1:hover h3 {
  opacity: 1;
}
.container-categorias #box-1:hover a {
  opacity: 1;
}
.container-categorias #box-2 {
  background-image: url(https://i.imgur.com/MfXUb9j.jpg);
}
.container-categorias #box-2:hover {
  flex: 4;
  box-shadow: 0 0 3px 2px #313638;
}
.container-categorias #box-2:hover div {
  opacity: 1;
}
.container-categorias #box-2:hover h3 {
  opacity: 1;
}
.container-categorias #box-2:hover a {
  opacity: 1;
}
.container-categorias #box-3 {
  background-image: url(https://i.imgur.com/2jT6EaV.jpg);
}
.container-categorias #box-3:hover {
  flex: 4;
  box-shadow: 0 0 3px 2px #313638;
}
.container-categorias #box-3:hover div {
  opacity: 1;
}
.container-categorias #box-3:hover h3 {
  opacity: 1;
}
.container-categorias #box-3:hover a {
  opacity: 1;
}

@media (max-width: 850px) {
  .container-categorias {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 800px;
  }
}
.seccionCategoria {
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
}

footer {
  background-color: #313638;
}
footer .footer-nav {
  padding-top: 30px;
  padding-bottom: 15px;
}
footer .footer-nav a {
  color: #EDF2F4;
  text-decoration: none;
}
footer .footer-nav a:hover {
  transition: all 0.5s;
  border-bottom: 3px solid #EDF2F4;
}
footer .footer-nav .linea-recta {
  background-color: #EDF2F4;
}
footer .footer-rs {
  padding-top: 15px;
  padding-bottom: 30px;
}
footer .footer-rs a {
  margin: 0 15px;
  text-decoration: none;
  color: #EDF2F4;
}
footer .footer-rs a:hover {
  transition: all 0.5s;
  transform: scale(1.3) rotate(360deg);
}
footer .footer-cr {
  background-color: white;
  padding: 10px;
}

@media (max-width: 550px) {
  .linea-recta {
    display: none;
  }
  .footer-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.dFlexCenter {
  display: flex;
  justify-content: center;
}

.seccion-info-categoria {
  margin-top: 70px;
  padding: 2vh;
}
.seccion-info-categoria .item-1 {
  grid-area: img1;
}
.seccion-info-categoria .item-2 {
  grid-area: img2;
}
.seccion-info-categoria .item-3 {
  grid-area: text1;
}
.seccion-info-categoria .item-4 {
  grid-area: img3;
}
.seccion-info-categoria .cuadricula-contenedor {
  display: grid;
  grid-template-areas: "text1 text1 img3 img1" "text1 text1 img3 img1" "img2 img2 img3 img1" "img2 img2 img3 img1";
  grid-auto-rows: 1fr;
  column-gap: 10px;
  height: 86vh;
}
.seccion-info-categoria .cuadricula-contenedor .imagen {
  padding: 2vh;
}
.seccion-info-categoria .cuadricula-contenedor .imagen img {
  box-shadow: 0 0 5px 1px #313638;
}
.seccion-info-categoria .cuadricula-contenedor .texto {
  padding: 2vh;
  gap: 10px;
}
.seccion-info-categoria .cuadricula-contenedor .texto p {
  text-align: justify;
  line-height: 2;
}

@media (max-width: 900px) {
  .seccion-info-categoria .cuadricula-contenedor {
    grid-template-areas: "text1" "img3";
  }
  .seccion-info-categoria .cuadricula-contenedor .texto {
    gap: 0;
  }
  .seccion-info-categoria .cuadricula-contenedor .texto h1, .seccion-info-categoria .cuadricula-contenedor .texto p {
    overflow-y: hidden;
  }
  .seccion-info-categoria .cuadricula-contenedor .item-1, .seccion-info-categoria .cuadricula-contenedor .item-2 {
    display: none;
  }
  .seccion-info-categoria .cuadricula-contenedor .imagen {
    padding: 20px;
  }
}
.divisor-categorias {
  height: 5px;
  width: 95%;
  background-color: #313638;
  opacity: 0.2;
  margin-bottom: 20px;
}

.aspectoItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerInformacionCategoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.disclaimer {
  width: 95%;
  color: #aaa200;
  letter-spacing: 1px;
  font-size: 12px;
}

.container-galeria {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vw;
  padding-top: 2vh;
  gap: 4vw;
}
.container-galeria .item {
  background-color: hsl(0, 0%, 94%);
  width: 300px;
}
.container-galeria .item .imagen-carta {
  height: 200px;
  width: 300px;
}
.container-galeria .item .card-text {
  margin: 15px 15px 20px;
  gap: 15px;
}
.container-galeria .item .card-text .descripcion-carta {
  text-align: justify;
}
.container-galeria .item .card-text .precio-carta {
  font-weight: bolder;
  color: #aaa200;
}
.container-galeria .item:hover {
  transition: all 0.3s;
  box-shadow: 0 10px 15px 0.5px rgb(139, 139, 139);
  scale: 0.9;
}

.galleryFlex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.galleryFlex .cardFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galleryFlex .cardFlex .textoFlexible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pagina-contacto {
  margin-top: 60px;
}
.pagina-contacto iframe {
  height: 350px;
}
.pagina-contacto .boton-contacto {
  background-color: #C2C0DA;
  width: 100%;
}
.pagina-contacto .boton-contacto:hover {
  transition: all 0s;
  scale: 0.9;
  color: #EDF2F4;
}
.pagina-contacto textarea {
  height: 10rem;
}

.bg-image-contacto {
  background-image: url("https://i.imgur.com/LLDEbLl.jpg");
  background-position: center;
  background-size: cover;
}

/*# sourceMappingURL=styles.css.map */
