/* Estilo del footer */
footer {
    background-color: $onyx; /* Establece el color de fondo del footer */
    
    /* Estilo de la navegación del footer */
    .footer-nav {
        padding-top: 30px; /* Espaciado superior del menú de navegación */
        padding-bottom: 15px; /* Espaciado inferior del menú de navegación */
        
        /* Estilo de los enlaces dentro de la navegación */
        a {
            color: $anti-flash-white; /* Color del texto de los enlaces */
            text-decoration: none; /* Quita el subrayado de los enlaces */
            
            /* Estilo al pasar el ratón sobre los enlaces */
            &:hover {
                transition: all 0.5s; /* Animación de transición */
                border-bottom: 3px solid $anti-flash-white; /* Agrega una línea inferior al pasar el ratón */
            }
        }
        
        /* Estilo de la línea recta */
        .linea-recta {
            background-color: $anti-flash-white; /* Color de la línea recta */
        }
    }
    
    /* Estilo de los iconos de redes sociales en el footer */
    .footer-rs {
        padding-top: 15px; /* Espaciado superior de los iconos de redes sociales */
        padding-bottom: 30px; /* Espaciado inferior de los iconos de redes sociales */
        
        /* Estilo de los enlaces a redes sociales */
        a {
            margin: map-get($margins, margen-0-15px ); /* Margen de los enlaces a redes sociales */
            text-decoration: none; /* Quita el subrayado de los enlaces */
            color: $anti-flash-white; /* Color del texto de los enlaces */
            transition: 0.5s; /* Transición de animación */
            
            /* Estilo al pasar el ratón sobre los enlaces */
            &:hover {
                transform: scale(1.3) rotate(360deg); /* Aumenta el tamaño y rota el icono */
            }
        }
    }
    
    /* Estilo del texto de derechos de autor en el footer */
    .footer-cr {
        background-color: white; /* Color de fondo del texto de derechos de autor */
        padding: 10px; /* Espaciado del texto de derechos de autor */
    }
}

/* Media query para pantallas de ancho máximo de 550px */
@media (max-width: 550px) {
    /* Oculta la línea recta en pantallas pequeñas */
    .linea-recta {
        display: none; /* Oculta la línea recta */
    }
    
    /* Estilo de la navegación del footer en pantallas pequeñas */
    .footer-nav {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        gap: 15px; /* Espaciado entre elementos */
    }
}

/* Mixin para centrar elementos flexibles */
.dFlexCenter {
    @include centerFlexible(); /* Incluye el mixin para centrar elementos flexibles */
}
