$rosy-brown: #BB978A;
$smoky-black: #140F0D;
$powder-blue: #A8BFE2;
$periwinkle: #C2C0DA;
$light-periwinkle: #E2E2E2;
$anti-flash-white: #EDF2F4;
$onyx: #313638;
$yellow-taco-off: #aaa200;
$yellow-taco-on: #eee200;

$fuente-sparta: 'League Spartan', sans-serif;